<%= partial "headerfr" %>
<div class="content" >
   <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 20%), url('/images/fonddemembre1.jpg');">
    <div class="banner-content" id="marina">
          <div class="container">
            <div class="row titre">
              <div class="col-xs-12 col-sm-12 prenom cecile">
                <h7>Cécile Heintzmann</h7><br/><br/>
              </div>
            </div>
          </div>
        <div class="row resu">
          <div class="col-xs-12 col-sm-offset-1 col-sm-1">
            <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/cecile1.jpeg');">
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-7 textalign">
            <p>Née à Versailles en 1994, Cécile valide un Baccalauréat Littéraire mention Bien (LV1 Allemand LV2 Anglais Option Audiovisuel) en 2012. Après 5 ans d'improvisation théâtrale en championnats juniors, Cécile se lance à 18 ans en intégrant le Conservatoire de Versailles.</p>
            <p>Elle entre ensuite dans le cycle spécialisé du Conservatoire de St-Germain-en-Laye, qu'elle quittera en juin 2015 avec son DET (Diplôme d’Etudes Théâtrales) mention TB à l’unanimité du jury en jeu classique, en jeu contemporain et en mise en scène.
            </p>
            <p>Cécile valide en 2016 une Bi-licence LLCE Anglais-Espagnol et utilise ces trois langues de jeu dans ces spectacles : français, espagnol et anglais.
            Membre fondatrice du Collectif Dans La Peau, elle joue dans plusieurs spectacles scéniques créés par le CDLP (Sur la sellette / Juste la fin du monde…) et travaille actuellement à la création de projets théâtraux du CDLP qui verront le jour en 2018.</p>
            <p>Elle joue actuellement le rôle de Jacqueline en doublon dans Le Médecin Malgré Lui de Molière (mis en scène par Philippe Vandaele & Anne-Sophie Nedelec-Vandaele) et a rejoint la compagnie Théâtre en Stock de Cergy avec laquelle elle prépare L’Ecole des Femmes de Molière ainsi que le spectacle pour enfants Malade? Mon œil! adapté de Molière.
            </p>
            <br>
        </div>
        <br>
        <div class="row plusfat">
          <div class="col-sm-12 bas">
           <div class="shake"><h2><b>Retrouvez-moi :</h2></p></div>
          </div>
          <div class="col-sm-6">
            <a href="www.linkedin.com/in/cecileheintzmann"><h3>Sur mon compte LinkedIn</h3></a>
            <a href="https://www.facebook.com/cecileheintzmannpro" class="href"><h3>Sur mon compte Facebook</h3></a>
          </div>
          <div class="col-sm-6">
            <a href="/files/CV-Cécile-Heintzmann.pdf"><h3>Télécharger mon CV </h3></a>
            <h3>cecileh13@hotmail.fr</h3>
         </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-2">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-2">
        <div class="shake"><h2>Filmographie</h2></div><br/>
        <p>
        <b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP</p>
      <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <p>
<b>2016     -    Voyages étudiants</b> , <i>vidéo promo de l’école IMAC Multimédia-Audiovisuel.</i>
      </p>
      <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <p>
<b>2013     -    Connections</b> , <i>Spot de prévention, école de cinéma EICAR.</i>
      </p>
      <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <p>
<b>2010-2012 - </b>  <i>Plusieurs court-métrages : Option Audiovisuel, lycée (actrice + réalisation).</i>
      </p>
</div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-3">
  <p>
            <div class="shake"><h2>Théâtre</h2></div><br/>
</p>

<!--  adaptation du Malade Imaginaire de Molière, spectacle pour enfant
et L’Ecole des Femmes de Molière, m.e.s. Jean Bonnet
=>

2017      Le Médecin Malgré Lui de Molière, m.e.s. Philippe V. & Anne-Sophie Nedelec-Vandaele
Le Grenier, Bougival, et Jean Vilar, Marly-le-Roi (78)
Rôle en doublon, prochaine date : 19 décembre 2017
2017      Dos Viejos Pánicos de Virgilio Piñera, courte adaptation
La Complutense, Madrid, VO espagnol, mai 2017
2016      Macbeth de Shakespeare, troupe anglophone de Sophia Wise
Paris-Sorbonne IV, VO anglais surtitrée français, mai 2016
2016      Caligula d'Albert Camus, par Haute Société, m.e.s. Diane Richard
Théâtre du Ménilmontant, mai 2016
2016      libre adaptation de Les Trois Sœurs de Tchekhov, libre adaptaion, création collective  Festival À Contre Sens, Nouvelle Sorbonne Paris 3, mars 2016
2015-2016       Juste la fin du monde de Jean-Luc Lagarce, m.e.s Isabelle Mestre (CDLP)
Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016
 -->
<p>
<b>En préparation - Malade? Mon œil!  <i>Jean Bonnet</i> </b> <br/> Compagnie Théâtre en Stock, Ile-de-France et Festival d’Avignon 2018</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>2017   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
Théâtre de Verre (Paris 20), janvier 2017.</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016
</p>
</div>
<div class="col-xs-12 col-sm-offset-1 col-sm-3">

<div class="shake"><h2>Formation</h2></div><br/>
<p>
<b>Master 1 Théâtre</b> <i>
</b> <i>  Université Sorbonne Nouvelle Paris 3
</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>



<p>
<b>Licence Théâtre / Cinéma – Audiovisuel</b> <i>
</b> <i>Mention Très Bien</i>  Université Sorbonne Nouvelle Paris 3
</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>Diplôme d’Etudes Théâtrales</b> <i>Mention Très Bien</i>  Conservatoire à rayonnement Départemental Claude Debussy à Saint-Germain-en-Laye
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>Masterclass</b>  Cours Florent, Athanor Berlioux, Conservatoire à rayonnement
Départemental Claude Debussy à
St-Germain-en-Laye
</p>
</div>
</div>
<div class="container">
  <div class="row">
       <div class="col-sm-3 col-sm-offset-2">

    </div>
    <div class="col-sm-3 shake">
    <h2>Galerie photos</h2>

    </div>

    </div>

      <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <% link_to '/images/cecile/1.jpg' do %>
        <%= image_tag '/images/cecile/1.jpg', style:"width: 311px; padding:10px;"  %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <% link_to '/images/cecile/2.jpg' do %>
        <%= image_tag '/images/cecile/2.jpg', style:"width: 311px; padding:10px;"  %>
      <% end %>
    </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/3.jpg' do %>
                    <%= image_tag '/images/cecile/3.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/4.jpg' do %>
                    <%= image_tag '/images/cecile/4.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/5.jpg' do %>
                    <%= image_tag '/images/cecile/5.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/6.jpg' do %>
                    <%= image_tag '/images/cecile/6.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/7.jpg' do %>
                    <%= image_tag '/images/cecile/7.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/8.jpg' do %>
                    <%= image_tag '/images/cecile/8.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/9.jpg' do %>
                    <%= image_tag '/images/cecile/910jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/10.jpg' do %>
                    <%= image_tag '/images/cecile/10.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/11.jpg' do %>
                    <%= image_tag '/images/cecile/11.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/12.jpg' do %>
                    <%= image_tag '/images/cecile/12.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
                        <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/13.jpg' do %>
                    <%= image_tag '/images/cecile/13.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/14.jpg' do %>
                    <%= image_tag '/images/cecile/14.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/15.jpg' do %>
                    <%= image_tag '/images/cecile/15.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/16.jpg' do %>
                    <%= image_tag '/images/cecile/16.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/17.jpg' do %>
                    <%= image_tag '/images/cecile/17.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/18.jpg' do %>
                    <%= image_tag '/images/cecile/18.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
                        <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/19.jpg' do %>
                    <%= image_tag '/images/cecile/19.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/20.jpg' do %>
                    <%= image_tag '/images/cecile/20.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/20.jpg' do %>
                    <%= image_tag '/images/cecile/20.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/21.jpg' do %>
                    <%= image_tag '/images/cecile/21.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/22.jpg' do %>
                    <%= image_tag '/images/cecile/22.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                               <div class="col-sm-3">
                   <% link_to '/images/cecile/23.jpg' do %>
                    <%= image_tag '/images/cecile/23.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                             <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/24.jpg' do %>
                    <%= image_tag '/images/cecile/24.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/25.jpg' do %>
                    <%= image_tag '/images/cecile/25.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/26.jpg' do %>
                    <%= image_tag '/ecileecile/26.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
                        <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/27.jpg' do %>
                    <%= image_tag '/images/cecile/27.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/28.jpg' do %>
                    <%= image_tag '/images/cecile/28.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/cecile/29.jpg' do %>
                    <%= image_tag '/images/cecile/29.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/cecile/30.jpg' do %>
                    <%= image_tag '/images/cecile/30.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/cecile/31.jpg' do %>
                    <%= image_tag '/images/cecile/31.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>

  </div>
</div>
 </div>
    </div>






      </div>




<!--

        <p>
           Après 5 ans d'improvisation théâtrale en championnats juniors, Cécile se lance en 2012 en intégrant le Conservatoire de Versailles puis le cycle spécialisé du Conservatoire de St-Germain-en-Laye, qu'elle quittera en juin 2015 avec son diplôme d'études théâtrales. Au printemps 2016, elle joue dans une libre adaptation de Les Trois Sœurs de Tchekhov au Festival À Contre Sens à Paris 3, puis dans Caligula d'Albert Camus (par Haute Société) au Théâtre du Ménilmontant ; ainsi que dans Macbeth de Shakespeare, en VO en Sorbonne IV (par la troupe anglophone de Sophia Wise). Elle parle en effet couramment l'anglais, le français et l'espagnol.


.</p> -->


      </div>
    </div>
   <div class="banner-2">
      <div class="banner-content">

<!--
<div class="shake"><h2>Filmatographie</h2></div><br/>
<p>
<b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2016     -    Voyages étudiants</b> , <i>vidéo promo de l’école</i>IMAC Multimédia-Audiovisuel

</p> <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2013     -    Connections</b> , <i>spot de prévention</i> école de cinéma EICAR

</p>
<p><i class="fa fa-minus" aria-hidden="true"></i></p><p>
<b>2010-12  -  Plusieurs court-métrages</b> , <i>Option Audiovisuel</i> Lycée

</p>

<br/>
<p> -->
<!-- <div class="shake"><h2>Théâtre</h2></div><br/>
</p>
<p>
<b>2017   -   Le Médecin Malgré Lui - <i>Molière</i> </b> <br/>   Philippe V. & Anne-Sophie Nedelec-Vandaele
Le Grenier, Bougival, et Jean Vilar, Marly-le-Roi (78)
Rôle en doublon, prochaine date : 19 décembre 2017
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2017   -   Dos Viejos Pánicos - <i>Virgilio Piñera</i> </b> <br/>    courte adaptation
La Complutense, Madrid, VO espagnol, mai 2017

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Macbeth - <i>Shakespeare</i> </b> <br/>    troupe anglophone de Sophia Wise
Paris-Sorbonne IV, VO anglais surtitrée français, mai 2016
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Caligula - <i>Albert Camus</i> </b> <br/>    par Haute Société, m.e.s. Diane Richard
Théâtre du Ménilmontant, mai 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -    libre adaptation de Les Trois Sœurs - <i>Tchekhov</i> </b> <br/>   libre adaptaion, création collective  Festival À Contre Sens, Nouvelle Sorbonne Paris 3, mars 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>








 </div>
    </div>



      </div>
 -->
