---
title: Lucille de Rochegonde

---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 20%), url(/images/fonddemembre1.jpg);">
    <div class="banner-content" id="marina">
      <div class="container">
        <div class="row marina">
          <div class="col-xs-12 col-sm-12 prenom">
            <h7>Lucille de Rochegonde</h7><br/><br/>
          </div>
        </div>
      </div>
      <div class="row resu">
        <div class="col-xs-12 col-sm-offset-1 col-sm-1">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/lucille1.jpeg');">
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-7">
          <p>Lucille a commencé le théâtre à 8 ans en Angleterre pour apprivoiser la langue, ce qui fut une révélation.
            <p>Elle n'a pas arrêté depuis ce moment-là. Puis à l'âge de 16 ans elle a rejoint le conservatoire de St-Germain-en-Laye, dont elle a obtenu le certificat en 2014 avec mention très bien. </p>
            <p>Elle a par la suite vécu à Rennes où elle a été membre d'un collectif et d'une troupe. En septembre 2015, elle intègre l'école Claude Mathieu où elle commence une formation de trois ans.</p>
          <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="row plusfat">
          <div class="col-sm-12 bas">
            <div class="shake"><h2><b>Retrouvez-moi :</b></h2></div>
          </div>
        </div>
        <div class="row plusfat">
          <div class="col-sm-6">
            <a href="/files/CV-lucille-rochegonde.pdf"><p>Télécharger mon CV </p></a>
         </div>
         <div class="col-sm-6">
            <p>Lucille.de.rochegonde@gmail.com</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-2">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-2">
          <div class="shake"><h2>Filmographie</h2></div><br/>
            <p>
            <b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>

            <p><b>2016     -    Ignition</b> , <i>long-métrage (65’)</i>Production CDLP.</p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p><div class="shake"><h2>Théâtre</h2></div><br/></p>
            <p><b>2016/2018   -   Michka - <i>Alex Adarjan</i> </b> <br/> Foyer de Neuville sur Oise (95), décembre 2016.
            Théâtre Darius Milhaud (Paris 19), janvier 2018.</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2017   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
            Théâtre de Verre (Paris 20), janvier 2017.</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
            Festival étudiant de Cabourg, Félicitations du Jury, avril 2016</p>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="shake"><h2>Formation</h2></div><br/>
            <p><b>Master 1 Théâtre</b> <i>
            </b> <i>  Université Sorbonne Nouvelle Paris 3
            </p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
            <b>Licence Théâtre / Cinéma – Audiovisuel</b> <i>
            </b> <i>Mention Très Bien</i>  Université Sorbonne Nouvelle Paris 3
            </p>
             <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
            <b>Diplôme d’Etudes Théâtrales</b> <i>Mention Très Bien</i>  Conservatoire à rayonnement Départemental Claude Debussy à Saint-Germain-en-Laye
            </p>

             <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
            <b>Masterclass</b>  Cours Florent, Athanor Berlioux, Conservatoire à rayonnement
            Départemental Claude Debussy à
            St-Germain-en-Laye
            </p>
            </div>
          </div>
          <br>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-sm-3 col-sm-offset-2"></div>
                <div class="col-sm-3 shake">
                  <h2>Galerie photos</h2>
                </div>
                <div class="col-sm-4">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/10.jpg' do %>
                    <%= image_tag 'lucille/10.jpg', style:"width: 311px; padding:10px;height:450px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/11.jpg' do %>
                    <%= image_tag 'lucille/11.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/12.jpg' do %>
                    <%= image_tag 'lucille/12.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/13.jpg' do %>
                    <%= image_tag 'lucille/13.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/14.jpg' do %>
                    <%= image_tag 'lucille/14.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/15.jpg' do %>
                    <%= image_tag 'lucille/15.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/14.jpg' do %>
                    <%= image_tag 'lucille/14.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/15.jpg' do %>
                    <%= image_tag 'lucille/15.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/16.jpg' do %>
                    <%= image_tag 'lucille/16.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/17.jpg' do %>
                    <%= image_tag 'lucille/17.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/18.jpg' do %>
                    <%= image_tag 'lucille/18.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/19.jpg' do %>
                    <%= image_tag 'lucille/19.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/5.jpg' do %>
                    <%= image_tag 'lucille/5.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/4.jpg' do %>
                    <%= image_tag 'lucille/4.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/6.jpg' do %>
                    <%= image_tag 'lucille/6.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/1.jpg' do %>
                    <%= image_tag 'lucille/1.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/2.jpg' do %>
                    <%= image_tag 'lucille/2.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/3.jpg' do %>
                    <%= image_tag 'lucille/3.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to 'lucille/7.jpg' do %>
                    <%= image_tag 'lucille/7.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to 'lucille/8.jpg' do %>
                    <%= image_tag 'lucille/8.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to 'lucille/9.jpg' do %>
                    <%= image_tag 'lucille/9.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
              </div>
             <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                  <% link_to 'lucille/20.jpg' do %>
                    <%= image_tag 'lucille/20.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-4">
                   <% link_to 'lucille/23.jpg' do %>
                    <%= image_tag 'lucille/23.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                  <% link_to 'lucille/21.jpg' do %>
                    <%= image_tag 'lucille/21.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
                <div class="col-sm-4">
                   <% link_to 'lucille/22.jpg' do %>
                    <%= image_tag 'lucille/22.jpg', style:"width: 311px; padding:10px; height:200px"  %>
                  <% end %>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>











